/* NORMALIZACION */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.disabled-link {
    pointer-events: none;
}

/* BODY */

body{
    position: relative;
    min-height: 59.2rem;
}

body::after {
    content: '';
    display: block;
    height: 110px;
}

body header nav a img{
    width: 160px;
    margin-left: 5px;
}

body header nav div ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

body header nav div ul li a.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 85px;
    height: 51px;
    border: 1px #d60165 solid;
    margin: 5px;
    padding: 0;
    border-radius: 5%/10%;
    background-color: rgb(124, 124, 124);
    color:black;
}

body header nav .nav-logo{
    width: 160px;
    margin-left: 5px;
}


body header nav div li .nav-btn:hover{
    background-color: rgb(65, 65, 65);
}

.nav-link:focus, .nav-link:hover {
    color:  rgb(206, 206, 206);
}


/* CARDS */

main div.cards{
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
}

main div.cards div.card{
    width: 300px;

}

main div.cards div.card div.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

}

main div.cards div.card img.card-img-top{
    width: 298px;
    height: 180px;
    object-fit: cover;

}


/* MAIN */
main {
    width: 100%;
}

/* HERO */
main .hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 6em;
}

main .hero p{
    margin: 0;
    font-size: 25px;
}

main .hero a{
    text-decoration: none;
    list-style: none;
    color: #d60165;
}

main .hero a:hover{
    color: #86013f;
}

main div.hero-text-arrow p{
    font-size: 42px;
    
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main form fieldset.contact-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 3px;
    margin-top:10px;
}

main form input.btn_submit{
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    align-self: flex-end;
}

/* HOME */
main div form.home-optionbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

/* SHOW-DATA */

main div.show-data_table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main div.show-data_table table{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 226px;
}


main div.show-data_table table tr,td,th {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

/* DETAILS */

main div.event-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 50px;
    gap:20px;
    border: 1px lightgray solid;
    border-radius: 2%/4%;
    max-width: 600px;
    background-color: rgb(248, 249, 250);
}

main div.event-container div.event-foto img{
    width: 250px;
    height: 250px;
    object-fit: cover;
} 

main div.event-container div.event-text{
    border: 1px lightgray solid;
    padding: 30px;
    width: 250px;
    height: 250px;
}

main div.event-container div.event-text p.event-text-title{
    font-size: 30px;
    text-align: center;
}

/* STATS */

main table{
    width: 60%;
    min-height: 5px;
    margin: 20px;
}

main table th{
    background-color: lightgray;
    text-align: start;
    font-size: 18px;
    padding-left: 3px;
}

main table td{
    text-align: start;
    padding-left: 3px;
    height: 20px;

}

main div.stats-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    color:rgb(248, 249, 250);
    bottom: 0;
}

footer div{
    padding: 20px;
}

footer .foot-social{
    display: flex;
    flex-direction: row;
    gap:20px

}
footer .foot-social i{
    font-size: 30px;
}

footer .foot-text p{
    display: flex;
    justify-content: end;
    font-size: 20px;
    margin: 0;
}



@media only screen and (min-width: 320px) and (max-width: 767px) {

    /* EVENT */
    main div.event-container {
        border-radius: 4%/2%;
        max-width: 300px;
        padding: 20px;
    }

    /* STATS */
    main table {
        width: 90%;
        min-height: 5px;
        margin: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {


}

